@model Journal.Models.IndexViewModel
@{
    ViewBag.Title = "Управление";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@Html.Label(Model.Name) @Html.Label(Model.Surname) @Html.Label(Model.LastName)</h4>
    <hr />
    <h5>Изменение параметров учетной записи</h5>
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            [
            @Html.ActionLink("Смена пароля", "ChangePassword")
            ]
        </dd>
        <dt>Личная информация: </dt>
        <dd>
            [
            @Html.ActionLink("Изменить личную инфорацию", "ChangePersonalInfo")
            ]
        </dd>
    </dl>
</div>
